body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    font-family: sans-serif;
}

.container {
    text-align: center;
    margin-bottom: 30px;
}

.button-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.button-style a {
    text-decoration: none;
    width: 300px;
}

button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    color: rgb(0, 169, 163);
    background-color: white;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: black;
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
}
