*{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    font-family: Segoe UI;
}

title{
    text-align: center;
    color: white;
    background-color: deepskyblue;
    height: 100px;
    font-size: 50px;
}

p{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

button{
    width:75%;
    height: 45px;
    background-color: white;
    justify-content: center;
    font-weight: bold;
    border: 2px solid black;
    outline: 0;
}
button:hover {
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.btn1{
    align-items: center;
}
.button1{
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.button1:hover{
    background: black;
    border-color: deepskyblue;
    color: white;
}
.button1:active{
    background: #fff;
    border-color: white;
    color: black;
}

.btn2{
    align-items: center;
}
.button2{
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.button2:hover{
    background: black;
    border-color: deepskyblue;
    color: white;
}
.button2:active{
    background: #fff;
    border-color: #fff;
    color: black;
}

.btn3{
    align-items: center;
}
.button3{
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.button3:hover{
    background: black;
    border-color: deepskyblue;
    color: white;
}
.button3:active{
    background: #fff;
    border-color: #fff;
    color: black;
}